.skill_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill_section__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.skill_section__heading span {
  /* font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #7b4ae2; */
  padding-bottom: 1rem;
}

.skill_section__heading h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.skill_section__image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.skill_section__image svg {
  cursor: pointer;
}
